p{
    font-size: 18px;line-height: 1.6;
}
.highlight {
    background-color: yellow; color: #333;
}
#main-title {
    border-bottom: 2px solid #000;
}
body{
    font-family: arial, sans-serif;
}
h1{
    text-align: center;
}
p:not(.highlight){
    font-weight: bold; font-style: italic;
}
