* {
  box-sizing: border-box;
   font-family: Arial, sans-serif;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #828b91, #f9f9f9);
  min-height: 100vh;
  padding: 40px 20px;
  color: #333;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #000000;
}
h2 {
  color: #000000;
  margin-bottom: 10px;
  margin-top: 30px;
}
form {
  max-width: 600px;
  margin: 0 auto 40px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

label {
  font-weight: 600;
}
p {
  margin-top: 10px;
  font-weight: 600;
}
input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    border: 2px solid #ccc;
    font-size: 14px;
}
input:focus,
select:focus, button{
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
}
input::placeholder {
    color: #999;
    font-style: italic;
}
input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 6px;
}
input[type="file"] {
    padding: 5px;
}
input[type="color"] {
    height: 45px;
    padding: 4px;
}
button {
    padding: 12px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    background-color: #2980b9;
}
button[type="reset"] {
    background-color: #e74c3c;
}

button[type="reset"]:hover {
    background-color: #c0392b;
}
input:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

input[readonly] {
    background-color: #f2f2f2;
}
@media (max-width: 600px) {
    body {
        padding: 15px;
    }
    form {
        width: 100%;
    }
}